.panel-header:hover {
    background-color: #4caf50 !important;
}

.panel-header {
    background-color: #9ded8e !important ;
}

.health-zone-container {
    strong {
        color: #4caf50 !important;
    }
}