.graphics-container {
    margin-left: 40px;
}

.icons-gender {
    fa-icon {
        margin-bottom: 20px;
    }
}

fa-icon {
    margin-right: 10px;
    color: #4caf50;
}

.paginator {
    margin-top: 40px;
}

.cards {
    .mat-card{
        margin-top: 15px;
    }
}

.cards-gender {
    .mat-card {
        margin: 15px;
    }
}

a {
    color: black;
}

a:hover{
    color: #4caf50;
}

.data-container-by-gender {
    span {
        font-size: 15px;;
    }
    strong {
        color: #4caf50;
    }
}